|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [2]:
import numpy as np
import pandas as pd 
# Read data and describe it
titanicdata = pd.read_csv('e:/titanic_dataset.csv')
print(titanicdata.describe())

        Unnamed: 0       pclass     survived          age        sibsp  \
count  1309.000000  1309.000000  1309.000000  1046.000000  1309.000000
mean    654.000000     2.294882     0.381971    29.881135     0.498854
std     378.020061     0.837836     0.486055    14.413500     1.041658
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     327.000000     2.000000     0.000000    21.000000     0.000000
50%     654.000000     3.000000     0.000000    28.000000     0.000000
75%     981.000000     3.000000     1.000000    39.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch        body
count  1309.000000  121.000000
mean      0.385027  160.809917
std       0.865560   97.696922
min       0.000000    1.000000
25%       0.000000   72.000000
50%       0.000000  155.000000
75%       0.000000  256.000000
max       9.000000  328.000000

In [3]:
#Find columns with missingdata
print(titanicdata.columns[titanicdata.isnull().any()])

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [4]:
# Print shape of datase
print(titanicdata.shape)

(1309, 15)

In [5]:
# drop columns with more than 25% missing data
new_titanicdata = titanicdata.dropna(thresh = titanicdata.shape[0]*0.25, how = 'all',axis = 1)
print(new_titanicdata)

      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket      fare embarked boat                        home.dest
0         0   24160  $211.34         S    2                     St Louis, MO
1         2  113781  $151.55         S   11  Montreal, PQ / Chesterville, ON
2         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
3         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
4         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
...     ...     ...       ...      ...  ...                              ...
1304      0    2665   $14.45         C  NaN                              NaN
1305      0    2665   $14.45         C  NaN                              NaN
1306      0    2656    $7.23         C  NaN                              NaN
1307      0    2670    $7.23         C  NaN                              NaN
1308      0  315082    $7.88         S  NaN                              NaN

[1309 rows x 13 columns]

In [15]:
# check data types of all columns
print(new_titanicdata.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
name           object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
embarked       object
boat           object
home.dest      object
dtype: object

In [7]:
#convert price to numeric
# titanicUpdated["fare"] = titanicUpdated["fare"].apply(lambda x: x.str.replace('$',''))
new_titanicdata["fare"] = pd.to_numeric(new_titanicdata[new_titanicdata.columns[9]].apply(lambda x: str(x).replace('$','')), errors='coerce')
print(new_titanicdata[new_titanicdata.columns[9]])

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

C:\Users\Quazi.Ahmad\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
#find columns still having missing/na values and also count of missing data
print(new_titanicdata.isnull().sum())

Unnamed: 0      0
pclass          0
survived        0
name            0
gender          0
age           263
sibsp           0
parch           0
ticket          0
fare            1
embarked        2
boat          823
home.dest     564
dtype: int64

In [19]:
# fill na with mean for fare and age column column.
print(new_titanicdata.age)
new_titanicdata.age = new_titanicdata.age.fillna(new_titanicdata.age.mean())

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

C:\Users\Quazi.Ahmad\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
# for surviced column replace 0 with D and 1 with A
# find the frequency of different values in survived column
# group by gender and survived and see the counts in each category

new_titanicdata['survived'].replace({0:"D",1:"A"}, inplace=True)
print(new_titanicdata['survived'])

print()
print(new_titanicdata['survived'].value_counts())

print()
grp = new_titanicdata.groupby(by=["gender","survived"])
print(grp.agg(['count']))

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1309, dtype: object

D    809
A    500
Name: survived, dtype: int64

                Unnamed: 0 pclass  name   age sibsp parch ticket  fare  \
                     count  count count count count count  count count
gender survived
female A               339    339   339   292   339   339    339   339
       D               127    127   127    96   127   127    127   127
male   A               161    161   161   135   161   161    161   161
       D               682    682   682   523   682   682    682   681

                embarked  boat home.dest
                   count count     count
gender survived
female A             337   318       241
       D             127     1        47
male   A             161   159       106
       D             682     8       351

C:\Users\Quazi.Ahmad\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [22]:
# find different pclass and no of people in each class
# find top 5 people with highest values of age. Count no of male and females in the top 5
# find max age male and female who survived
# get average age by gender
# get average age by people survived vs not-survived

print(new_titanicdata['pclass'].value_counts())

print()
ageGender = ((new_titanicdata.nlargest(5, ['age']))[['gender','age']])
print(ageGender['gender'].value_counts())

print()
print(ageGender.groupby(['gender'], sort=False)['age'].max())

print()
print(new_titanicdata.groupby(['gender'], sort=False)['age'].mean())

print()
print(new_titanicdata.groupby(['survived'], sort=False)['age'].mean())

3    709
1    323
2    277
Name: pclass, dtype: int64

male      4
female    1
Name: gender, dtype: int64

gender
male      80.0
female    76.0
Name: age, dtype: float64

gender
female    28.687071
male      30.585233
Name: age, dtype: float64

survived
A    28.918228
D    30.545369
Name: age, dtype: float64