|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [3]:
import numpy as np
import pandas as pd

In [4]:
#Read data and describe it
df=pd.read_csv('titanic_dataset.csv',usecols=range(1,15))
#print(df)
print(df.describe(include='all'))

             pclass     survived                  name gender          age  \
count   1309.000000  1309.000000                  1309   1309  1046.000000
unique          NaN          NaN                  1307      2          NaN
top             NaN          NaN  Connolly, Miss. Kate   male          NaN
freq            NaN          NaN                     2    843          NaN
mean       2.294882     0.381971                   NaN    NaN    29.881135
std        0.837836     0.486055                   NaN    NaN    14.413500
min        1.000000     0.000000                   NaN    NaN     0.166700
25%        2.000000     0.000000                   NaN    NaN    21.000000
50%        3.000000     0.000000                   NaN    NaN    28.000000
75%        3.000000     1.000000                   NaN    NaN    39.000000
max        3.000000     1.000000                   NaN    NaN    80.000000

              sibsp        parch    ticket    fare        cabin embarked boat  \
count   1309.000000  1309.000000      1309    1308          295     1307  486
unique          NaN          NaN       929     263          186        3   27
top             NaN          NaN  CA. 2343  $8.05   C23 C25 C27        S   13
freq            NaN          NaN        11      60            6      914   39
mean       0.498854     0.385027       NaN     NaN          NaN      NaN  NaN
std        1.041658     0.865560       NaN     NaN          NaN      NaN  NaN
min        0.000000     0.000000       NaN     NaN          NaN      NaN  NaN
25%        0.000000     0.000000       NaN     NaN          NaN      NaN  NaN
50%        0.000000     0.000000       NaN     NaN          NaN      NaN  NaN
75%        1.000000     0.000000       NaN     NaN          NaN      NaN  NaN
max        8.000000     9.000000       NaN     NaN          NaN      NaN  NaN

              body     home.dest
count   121.000000           745
unique         NaN           369
top            NaN  New York, NY
freq           NaN            64
mean    160.809917           NaN
std      97.696922           NaN
min       1.000000           NaN
25%      72.000000           NaN
50%     155.000000           NaN
75%     256.000000           NaN
max     328.000000           NaN

In [78]:
#Find columns with missingdata
print(df.columns[df.isna().any()])

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [28]:
#Print shape of dataset
print(df.shape)

(1309, 14)

In [47]:
#drop columns with more than 25% missing data
#print(df.isna())
print(df.isna().mean())
df=df.loc[:,df.isna().mean()>0.25]
print(df)

pclass       0.000000
survived     0.000000
name         0.000000
gender       0.000000
age          0.200917
sibsp        0.000000
parch        0.000000
ticket       0.000000
fare         0.000764
cabin        0.774637
embarked     0.001528
boat         0.628724
body         0.907563
home.dest    0.430863
dtype: float64
        cabin boat   body                        home.dest
0          B5    2    NaN                     St Louis, MO
1     C22 C26   11    NaN  Montreal, PQ / Chesterville, ON
2     C22 C26  NaN    NaN  Montreal, PQ / Chesterville, ON
3     C22 C26  NaN  135.0  Montreal, PQ / Chesterville, ON
4     C22 C26  NaN    NaN  Montreal, PQ / Chesterville, ON
...       ...  ...    ...                              ...
1304      NaN  NaN  328.0                              NaN
1305      NaN  NaN    NaN                              NaN
1306      NaN  NaN  304.0                              NaN
1307      NaN  NaN    NaN                              NaN
1308      NaN  NaN    NaN                              NaN

[1309 rows x 4 columns]

In [5]:
#drop columns having independent values(which do not affect the survival rate)

print(df.drop(columns=['name']))

      pclass  survived  gender      age  sibsp  parch  ticket      fare  \
0          1         1  female  29.0000      0      0   24160  $211.34
1          1         1    male   0.9167      1      2  113781  $151.55
2          1         0  female   2.0000      1      2  113781  $151.55
3          1         0    male  30.0000      1      2  113781  $151.55
4          1         0  female  25.0000      1      2  113781  $151.55
...      ...       ...     ...      ...    ...    ...     ...       ...
1304       3         0  female  14.5000      1      0    2665   $14.45
1305       3         0  female      NaN      1      0    2665   $14.45
1306       3         0    male  26.5000      0      0    2656    $7.23
1307       3         0    male  27.0000      0      0    2670    $7.23
1308       3         0    male  29.0000      0      0  315082    $7.88

        cabin embarked boat   body                        home.dest
0          B5        S    2    NaN                     St Louis, MO
1     C22 C26        S   11    NaN  Montreal, PQ / Chesterville, ON
2     C22 C26        S  NaN    NaN  Montreal, PQ / Chesterville, ON
3     C22 C26        S  NaN  135.0  Montreal, PQ / Chesterville, ON
4     C22 C26        S  NaN    NaN  Montreal, PQ / Chesterville, ON
...       ...      ...  ...    ...                              ...
1304      NaN        C  NaN  328.0                              NaN
1305      NaN        C  NaN    NaN                              NaN
1306      NaN        C  NaN  304.0                              NaN
1307      NaN        C  NaN    NaN                              NaN
1308      NaN        S  NaN    NaN                              NaN

[1309 rows x 13 columns]

In [49]:
#check data types of all columns
print(df.dtypes)

pclass         int64
survived       int64
name          object
gender        object
age          float64
sibsp          int64
parch          int64
ticket        object
fare          object
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [153]:
#convert price to numeric

#tmp=df['fare'].str.replace('$','')
tmp=df.fare.replace('\$','',regex=True)
print(tmp.apply(pd.to_numeric))

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

In [77]:
#find columns still having missing/na values and also count of missing data

print(df.columns[df.isna().any()])
print()
print(df.isna().sum().sum())

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

3855

In [167]:
#fill na with mean for fare and age column column.
#print(df.mean())

print(df.age.fillna(df.age.mean()))
tmp=df.fare.str.replace('$','')
tmp=tmp.apply(pd.to_numeric)
print(tmp.fillna(tmp.mean()))

0       29.000000
1        0.916700
2        2.000000
3       30.000000
4       25.000000
          ...
1304    14.500000
1305    29.881135
1306    26.500000
1307    27.000000
1308    29.000000
Name: age, Length: 1309, dtype: float64
0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

In [94]:
#drop na values for embarked column
print(df.embarked.dropna(how='all'))

0       S
1       S
2       S
3       S
4       S
       ..
1304    C
1305    C
1306    C
1307    C
1308    S
Name: embarked, Length: 1307, dtype: object

In [95]:
#dump the dataframe to a csv file 'titanic_filtered.csv'.
df.to_csv('titanic_filtered.csv')

In [103]:
#for survived column replace 0 with D and 1 with A

tmp=df.survived.replace(to_replace=[0,1],value=['D','A'])
print(tmp)

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1309, dtype: object

In [113]:
#find the frequency of different values in survived column
grp=df.groupby(by='survived')
print(grp.survived.count())

survived
0    809
1    500
Name: survived, dtype: int64

In [114]:
#group by gender and survived and see the counts in each category

grp=df.groupby(by=['gender','survived'])
print(grp.count())

                 pclass  name  age  sibsp  parch  ticket  fare  cabin  \
gender survived
female 0            127   127   96    127    127     127   127      8
       1            339   339  292    339    339     339   339    133
male   0            682   682  523    682    682     682   681     94
       1            161   161  135    161    161     161   161     60

                 embarked  boat  body  home.dest
gender survived
female 0              127     1     8         47
       1              337   318     0        241
male   0              682     8   113        351
       1              161   159     0        106

In [115]:
#find different pclass and no of people in each class
grp=df.groupby(by='pclass')
print(grp.name.count())

pclass
1    323
2    277
3    709
Name: name, dtype: int64

In [122]:
#find top 5 people with highest values of age. Count no of male and females in the top 5

o=df.sort_values(by='age',ascending=False)
df1=o.head()
#print(df1)
grp=df1.groupby(by='gender')
print(grp.name.count())

gender
female    1
male      4
Name: name, dtype: int64

In [140]:
#find max age male and female who survived

o=df.sort_values(by=['age','gender','survived'],ascending=False)
gr=o.groupby(by='gender')
print(gr.age.max())

gender
female    76.0
male      80.0
Name: age, dtype: float64

In [141]:
#get average age by gender
grp=df.groupby(by='gender')
print(grp.age.mean())

gender
female    28.687071
male      30.585233
Name: age, dtype: float64

In [142]:
#get average age by people survived vs not-survived
grp=df.groupby(by='survived')
print(grp.age.mean())

survived
0    30.545369
1    28.918228
Name: age, dtype: float64