- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
# Read sheet "Australia by Residence" from Australia.xlsx
# Ignore the first 20 rows.
import numpy as np
import pandas as pd

df1=pd.read_excel('Australia.xlsx',sheet_name='Australia by Residence',skiprows=20)
print(df1)

           Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120    ..    ..    ..    ..    ..
1        30      30      30    ..    ..    ..    ..    ..
2        30      40      50    ..    ..    ..    ..    ..
3         0       0       0    ..    ..    ..    ..    ..
4         0       0       0    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [2]:
#List all Column and Row indexes(Print their names)
print(df1.columns)
print(df1.index)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [3]:
#Describe the dataset
print(df1.describe())

             AREA          REG         DEV           1980           1981  \
count  448.000000   448.000000  448.000000     448.000000     448.000000
mean   912.955357  1208.040179  902.642857    1228.348214    1331.651786
std     15.019682  1109.669573    9.165500   10145.734028   11349.461111
min    903.000000   905.000000  901.000000       0.000000       0.000000
25%    903.750000   914.000000  902.000000       0.000000       0.000000
50%    908.000000   922.000000  902.000000      10.000000      10.000000
75%    909.000000   926.000000  902.000000     130.000000     140.000000
max    999.000000  5501.000000  999.000000  184290.000000  212690.000000

                1982           1983           1984           1985  \
count     448.000000     448.000000     448.000000     448.000000
mean     1283.660714    1134.285714    1115.580357    1187.455357
std     10643.064898    8965.372332    8805.489574    9545.180624
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%        10.000000      10.000000      10.000000      10.000000
75%       160.000000     150.000000     162.500000     162.500000
max    195200.000000  153570.000000  153530.000000  172550.000000

                1986  ...           1999           2000           2001  \
count     448.000000  ...     448.000000     448.000000     448.000000
mean     1290.803571  ...    2122.946429    2337.857143    2555.982143
std     10588.914966  ...   16727.854191   18384.758383   20198.020921
min         0.000000  ...       0.000000       0.000000       0.000000
25%         0.000000  ...       0.000000      10.000000      10.000000
50%        10.000000  ...      30.000000      35.000000      40.000000
75%       182.500000  ...     362.500000     372.500000     360.000000
max    196690.000000  ...  289870.000000  317560.000000  356410.000000

                2002           2003           2004           2005  \
count     448.000000     448.000000     448.000000     448.000000
mean     2611.294643    2738.125000    2514.241071    2545.357143
std     20573.219253   21745.929611   19834.528214   20203.441660
min         0.000000       0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000      10.000000
50%        45.000000      50.000000      50.000000      50.000000
75%       390.000000     420.000000     400.000000     410.000000
max    361990.000000  388450.000000  350990.000000  363470.000000

                2006           2007           2008
count     448.000000     448.000000     448.000000
mean     2709.866071    3023.348214    3376.116071
std     21786.641444   24542.748186   27950.462893
min         0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000
50%        60.000000      70.000000      75.000000
75%       455.000000     480.000000     512.500000
max    402210.000000  460650.000000  535970.000000

[8 rows x 32 columns]

In [4]:
#Use values and index attributes on both Row and Column Indexes
print(df1.columns.values)
print(df1.index.values)

['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447]

In [5]:
#Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
print(df1.shape)
print()
print(df1.dtypes)
print()
print(df1.size)

(448, 43)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

19264

In [6]:
#Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
df1=df1.loc[df1['Type']=="Immigrants",:]
print(df1)

           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
224    Southern Asia  902  Developing regions      10  ...      80     110
225  Southern Europe  901   Developed regions       0  ...     140     130
226  Northern Africa  902  Developing regions      10  ...      20      50
227        Polynesia  902  Developing regions       0  ...       0       0
228  Southern Europe  901   Developed regions       0  ...      10      10
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
224     180     140     560    ..    ..    ..    ..    ..
225     110     110     140    ..    ..    ..    ..    ..
226      30      30      60    ..    ..    ..    ..    ..
227       0       0      10    ..    ..    ..    ..    ..
228       0      10      10    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[224 rows x 43 columns]

In [7]:
#Find columns for which more than 50% data is missing and drop them (Column Deletion)

print(df1.replace(to_replace=['..',''],value=np.nan,inplace=True))
print(df1.loc[:,df1.isna().mean()>0.5])
df1=df1.loc[:,df1.isna().mean()<0.5]
print(df1)

None
     2009  2010  2011  2012  2013
224   NaN   NaN   NaN   NaN   NaN
225   NaN   NaN   NaN   NaN   NaN
226   NaN   NaN   NaN   NaN   NaN
227   NaN   NaN   NaN   NaN   NaN
228   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...   ...
443   NaN   NaN   NaN   NaN   NaN
444   NaN   NaN   NaN   NaN   NaN
445   NaN   NaN   NaN   NaN   NaN
446   NaN   NaN   NaN   NaN   NaN
447   NaN   NaN   NaN   NaN   NaN

[224 rows x 5 columns]
           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    1999    2000  \
224    Southern Asia  902  Developing regions      10  ...     270     100
225  Southern Europe  901   Developed regions       0  ...      70     110
226  Northern Africa  902  Developing regions      10  ...      30      20
227        Polynesia  902  Developing regions       0  ...       0       0
228  Southern Europe  901   Developed regions       0  ...      10       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      20      20
444   Eastern Africa  902  Developing regions     150  ...      60     100
445   Eastern Africa  902  Developing regions     630  ...     510     910
446            World  999               World    4060  ...    2850    5500
447            World  999               World  184290  ...  289870  317560

       2001    2002    2003    2004    2005    2006    2007    2008
224      20      40      70      80     110     180     140     560
225     110     200     250     140     130     110     110     140
226      30      60      20      20      50      30      30      60
227       0       0       0       0       0       0       0      10
228      10      10       0      10      10       0      10      10
..      ...     ...     ...     ...     ...     ...     ...     ...
443      60      40     150      40      20      10      40      40
444     190     260     430     370     240     410     410     400
445    1500    1670    2330    1790    1560    1880    2180    2270
446    5090    2160    1760    1650    1800    2320   18310    4970
447  356410  361990  388450  350990  363470  402210  460650  535970

[224 rows x 38 columns]

In [8]:
# Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) 
# Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

print(df1.drop(columns=['Type', 'Coverage','AREA', 'REG', 'DEV'],inplace=True,axis=1))
print(df1)

None
             OdName AreaName          RegName             DevName    1980  \
224     Afghanistan     Asia    Southern Asia  Developing regions      10
225         Albania   Europe  Southern Europe   Developed regions       0
226         Algeria   Africa  Northern Africa  Developing regions      10
227  American Samoa  Oceania        Polynesia  Developing regions       0
228         Andorra   Europe  Southern Europe   Developed regions       0
..              ...      ...              ...                 ...     ...
443           Yemen     Asia     Western Asia  Developing regions      10
444          Zambia   Africa   Eastern Africa  Developing regions     150
445        Zimbabwe   Africa   Eastern Africa  Developing regions     630
446         Unknown    World            World               World    4060
447           Total    World            World               World  184290

       1981    1982    1983    1984    1985  ...    1999    2000    2001  \
224      20      30      30      70     100  ...     270     100      20
225       0       0       0       0       0  ...      70     110     110
226      50      30      10      20      20  ...      30      20      30
227       0       0       0       0      20  ...       0       0       0
228       0      10       0       0       0  ...      10       0      10
..      ...     ...     ...     ...     ...  ...     ...     ...     ...
443       0       0      10      20      10  ...      20      20      60
444     110     120     180     130     170  ...      60     100     190
445    1120    1190     980     640     500  ...     510     910    1500
446    4440    4010    3220    3970    4610  ...    2850    5500    5090
447  212690  195200  153570  153530  172550  ...  289870  317560  356410

       2002    2003    2004    2005    2006    2007    2008
224      40      70      80     110     180     140     560
225     200     250     140     130     110     110     140
226      60      20      20      50      30      30      60
227       0       0       0       0       0       0      10
228      10       0      10      10       0      10      10
..      ...     ...     ...     ...     ...     ...     ...
443      40     150      40      20      10      40      40
444     260     430     370     240     410     410     400
445    1670    2330    1790    1560    1880    2180    2270
446    2160    1760    1650    1800    2320   18310    4970
447  361990  388450  350990  363470  402210  460650  535970

[224 rows x 33 columns]

In [17]:
#Rename columns :OdName -> Country; RegName -> Region
print(df1.rename(columns={'OdName':'Country','RegName':'Region'},inplace=True))

None

In [10]:
# Convert Column Names with Int type to Strings to avoid index errors with string indexing 
# "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)

df1=df1.astype('object')
print(df1.dtypes)

OdName      object
AreaName    object
RegName     object
DevName     object
1980        object
1981        object
1982        object
1983        object
1984        object
1985        object
1986        object
1987        object
1988        object
1989        object
1990        object
1991        object
1992        object
1993        object
1994        object
1995        object
1996        object
1997        object
1998        object
1999        object
2000        object
2001        object
2002        object
2003        object
2004        object
2005        object
2006        object
2007        object
2008        object
dtype: object

In [11]:
# Find Total number of immigrants for all years, and create a new column Total in data Frame

df1['Total']=df1.iloc[:,4:].sum(axis=1)
print(df1)

             OdName AreaName          RegName             DevName    1980  \
224     Afghanistan     Asia    Southern Asia  Developing regions      10
225         Albania   Europe  Southern Europe   Developed regions       0
226         Algeria   Africa  Northern Africa  Developing regions      10
227  American Samoa  Oceania        Polynesia  Developing regions       0
228         Andorra   Europe  Southern Europe   Developed regions       0
..              ...      ...              ...                 ...     ...
443           Yemen     Asia     Western Asia  Developing regions      10
444          Zambia   Africa   Eastern Africa  Developing regions     150
445        Zimbabwe   Africa   Eastern Africa  Developing regions     630
446         Unknown    World            World               World    4060
447           Total    World            World               World  184290

       1981    1982    1983    1984    1985  ...    2000    2001    2002  \
224      20      30      30      70     100  ...     100      20      40
225       0       0       0       0       0  ...     110     110     200
226      50      30      10      20      20  ...      20      30      60
227       0       0       0       0      20  ...       0       0       0
228       0      10       0       0       0  ...       0      10      10
..      ...     ...     ...     ...     ...  ...     ...     ...     ...
443       0       0      10      20      10  ...      20      60      40
444     110     120     180     130     170  ...     100     190     260
445    1120    1190     980     640     500  ...     910    1500    1670
446    4440    4010    3220    3970    4610  ...    5500    5090    2160
447  212690  195200  153570  153530  172550  ...  317560  356410  361990

       2003    2004    2005    2006    2007    2008      Total
224      70      80     110     180     140     560     4630.0
225     250     140     130     110     110     140     1910.0
226      20      20      50      30      30      60      730.0
227       0       0       0       0       0      10       30.0
228       0      10      10       0      10      10      100.0
..      ...     ...     ...     ...     ...     ...        ...
443     150      40      20      10      40      40      570.0
444     430     370     240     410     410     400     5590.0
445    2330    1790    1560    1880    2180    2270    27350.0
446    1760    1650    1800    2320   18310    4970   141660.0
447  388450  350990  363470  402210  460650  535970  7965110.0

[224 rows x 34 columns]

In [16]:
# Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
# find something weird in the dataset ? Delete that row 'world'
#Analyze last few rows also in the sorted result (Don't sort inplace)

print(df1.sort_values(by='Total',ascending=False).head())
print(df1.drop(df1[df1['AreaName']=='World'].index,inplace=True))
print(df1.sort_values(by='Total',ascending=False).tail())

                                                OdName          AreaName  \
432  United Kingdom of Great Britain and Northern I...            Europe
367                                        New Zealand           Oceania
434                           United States of America  Northern America
266     China, Hong Kong Special Administrative Region              Asia
265                                              China              Asia

                       RegName             DevName   1980   1981   1982  \
432            Northern Europe   Developed regions  43540  57050  51730
367  Australia and New Zealand   Developed regions  34370  34440  23920
434           Northern America   Developed regions  10470  12080  12490
266               Eastern Asia  Developing regions   4170   4380   4980
265               Eastern Asia  Developing regions    860    870    560

      1983   1984   1985  ...   2000   2001   2002   2003   2004   2005  \
432  31660  25150  27630  ...  51000  52940  57330  70150  53140  53300
367  13620  16900  27070  ...  47230  45570  29500  28000  40710  44680
434  11110  11840  12480  ...  18030  19230  18950  18980  18540  18490
266   5480   7450   6820  ...  16410  18620  20200  19220   9740  10070
265    580   1220   2190  ...  16700  22220  29000  33410  29860  28820

      2006   2007   2008      Total
432  57250  61490  65160  1333340.0
367  45550  39120  46960   898760.0
434  17320  19260  20860   450370.0
266  10270   9680  11030   388640.0
265  32190  42920  54300   387180.0

[5 rows x 34 columns]
None
                               OdName                         AreaName  \
435      United States Virgin Islands  Latin America and the Caribbean
230                          Anguilla  Latin America and the Caribbean
427          Turks and Caicos Islands  Latin America and the Caribbean
353                           Mayotte                           Africa
395  Saint Vincent and the Grenadines  Latin America and the Caribbean

            RegName             DevName 1980 1981 1982 1983 1984 1985  ...  \
435       Caribbean  Developing regions    0    0    0    0    0    0  ...
230       Caribbean  Developing regions    0    0    0    0    0    0  ...
427       Caribbean  Developing regions    0    0    0    0    0    0  ...
353  Eastern Africa  Developing regions    0    0    0    0    0    0  ...
395       Caribbean  Developing regions    0    0    0    0    0    0  ...

    2000 2001 2002 2003 2004 2005 2006 2007 2008 Total
435    0    0    0    0    0    0    0    0    0   0.0
230    0    0    0    0    0    0    0    0    0   0.0
427    0    0    0    0    0    0    0    0    0   0.0
353    0    0    0    0    0    0    0    0    0   0.0
395    0    0    0    0    0    0    0    0    0   0.0

[5 rows x 34 columns]

In [34]:
# Check if these have all unique values or not:
    # countries
    # continents (AreaName)
    # country continent pairs

print(df1.Country.is_unique)
print(df1.AreaName.is_unique)
print(df1.set_index(['Country','AreaName']).index.is_unique) #set_index makes index from existing columns.here country and area became a single index.

True
False
True

In [98]:
# Find countries for which no of immigrants for all years is 0
# Find count of above countries
# Find countries for which no of immigrants is 0 for any year

print(df1.loc[df1['Total']==0,'Country'])
print(df1.loc[df1['Total']==0,'Country'].count())

#3 ways to find the 3rd que

#print(df1.Country[df1.iloc[:,4:].apply(lambda x:x==0).any(axis=1)])
#print(df1.Country[(df1.iloc[:,4:]==0).any(axis=1)])
print(df1[(df1.iloc[:,4:]==0).any(axis=1)].Country)

225                         Albania
227                  American Samoa
228                         Andorra
229                          Angola
230                        Anguilla
                   ...
435    United States Virgin Islands
437                      Uzbekistan
441       Wallis and Futuna Islands
442                  Western Sahara
443                           Yemen
Name: Country, Length: 121, dtype: object

In [76]:
# Drop the row where AreaName is 'World'
# Save the dataset to a new file AustraliaFiltered.xlsx

print(df1.to_excel('AustraliaFiltered.xlsx'))

None