|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [18]:
r = df.sort_values(by=['age'],ascending=False) # O(nlog n)
print()
res = r.head()
print(res)
res.gender.value_counts()


df.nlargest() 
# heap # size-5 # O(n)

      Unnamed: 0  pclass  survived  \
14            14       1         1
61            61       1         1
1235        1235       3         0
135          135       1         0
9              9       1         0

                                                   name  gender   age  sibsp  \
14                 Barkworth, Mr. Algernon Henry Wilson    male  80.0      0
61    Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0      1
1235                                Svensson, Mr. Johan    male  74.0      0
135                           Goldschmidt, Mr. George B    male  71.0      0
9                               Artagaveytia, Mr. Ramon    male  71.0      0

      parch    ticket     fare cabin embarked boat  body  \
14        0     27042  $30.00    A23        S    B   NaN
61        0     19877  $78.85    C46        S    6   NaN
1235      0    347060   $7.78    NaN        S  NaN   NaN
135       0  PC 17754  $34.65     A5        C  NaN   NaN
9         0  PC 17609  $49.50    NaN        C  NaN  22.0

                    home.dest
14              Hessle, Yorks
61    Little Onn Hall, Staffs
1235                      NaN
135              New York, NY
9         Montevideo, Uruguay

male      4
female    1
Name: gender, dtype: int64

In [33]:
grp=df.groupby('gender').groups

newDf = pd.DataFrame(columns=df.columns)

for k,v in grp.items():
    print()
    t = df.iloc[v].sort_values('age').nlargest(3, columns=['age'])
    newDf = newDf.append(t,ignore_index=True)
    
print(newDf)


#a = [10,20]
#a.append(30)

  Unnamed: 0 pclass survived  \
0         61      1        1
1         78      1        1
2         83      1        1
3         14      1        1
4       1235      3        0
5          9      1        0

                                                name  gender   age sibsp  \
0  Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0     1
1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female  64.0     0
2  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  female  64.0     1
3               Barkworth, Mr. Algernon Henry Wilson    male  80.0     0
4                                Svensson, Mr. Johan    male  74.0     0
5                            Artagaveytia, Mr. Ramon    male  71.0     0

  parch    ticket     fare cabin embarked boat  body                home.dest
0     0     19877  $78.85    C46        S    6   NaN  Little Onn Hall, Staffs
1     2  PC 17756  $83.16    E45        C   14   NaN             Lakewood, NJ
2     1    112901  $26.55    B26        S    7   NaN            Milwaukee, WI
3     0     27042  $30.00    A23        S    B   NaN            Hessle, Yorks
4     0    347060   $7.78    NaN        S  NaN   NaN                      NaN
5     0  PC 17609  $49.50    NaN        C  NaN  22.0      Montevideo, Uruguay

In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv('titanic_dataset.csv')
print(df.head())

   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [9]:
print(df.shape)
thresh = int(1309*0.75) # atleast these many filled rows should be there 
print(thresh)
r =  df.dropna(thresh=thresh, axis=1)

print()
print(df.count())
print(r.count())

(1309, 15)
981

Unnamed: 0    1309
pclass        1309
survived      1309
name          1309
gender        1309
age           1046
sibsp         1309
parch         1309
ticket        1309
fare          1308
cabin          295
embarked      1307
boat           486
body           121
home.dest      745
dtype: int64
Unnamed: 0    1309
pclass        1309
survived      1309
name          1309
gender        1309
age           1046
sibsp         1309
parch         1309
ticket        1309
fare          1308
embarked      1307
dtype: int64

In [12]:
df.fare.astype('float')

ValueError: could not convert string to float: '$211.34 '